* {
  font-family: serif;
  box-sizing: border-box;
}

html {
}

h2 {
  color: #16a613;
  text-align: center;
}

.box1 {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 30px;
  margin: 20px;
  width: 600px;
}

.example {
  width: 100px;
  height: 100px;
}

.box2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #16a613;
  height: 150px;
  width: 300px;
}

.orange {
  /* background: ; */
}

.paragraph {
  color: rgb(36, 133, 36);
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
  /* text-transform: uppercase; */
  text-decoration: double;
}

#name {
  color: red;
}

.child {
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 100px;
}

.container {
  position: relative;
}
